<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- registers all of Spring's standard post-processors for annotation-based configuration -->
    <context:annotation-config />

    <context:component-scan base-package="ua.org.gostroy.dao"/>
    <context:component-scan base-package="ua.org.gostroy.service"/>

    <context:property-placeholder properties-ref="deployProperties" system-properties-mode="FALLBACK"/>
    <!--<context:property-override properties-ref="deployProperties"/>-->
    <bean id="deployProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations" value="classpath:/etc/properties/*.properties.${type}"/>
        <!--<property name="location" value="classpath:/etc/properties/app.#{systemProperties[‘ENV']}.properties" />-->
    </bean>
    <!--свойства по-умолчанию-->
<!--
    <util:properties id="AppProps" location="classpath:/etc/properties/app.properties"/>
    <util:properties id="defaultConfiguration">
        <prop key="jdbc.url">jdbc:hsqldb:hsql://localhost/spitter/spitter</prop>
        <prop key="jdbc.driverClassName">org.hsqldb.jdbcDriver</prop>
        <prop key="jdbc.username">spitterAdmin</prop>
        <prop key="jdbc.password">t0ps3cr3t</prop>
    </util:properties>
-->

</beans>