<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <http access-denied-page="/error403" use-expressions="true" >
        <intercept-url pattern="/" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/login" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/error403" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/resources/**" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER', 'ROLE_ADMIN')"/>

        <intercept-url pattern="/user/" access="hasAnyRole('ROLE_ANONYMOUS','ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/user/list" access="hasAnyRole('ROLE_ANONYMOUS','ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/user/add**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/user/edit/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/user/delete/**" access="hasAnyRole('ROLE_ADMIN')"/>

        <intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')" />

        <form-login login-page="/login" authentication-failure-url="/login?error=true" />
        <logout logout-url="/logout" logout-success-url="/" />

        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS" />
        <remember-me />
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="pass" authorities="ROLE_ADMIN,ROLE_USER" />
                <user name="user1" password="1111" authorities="ROLE_USER" />
                <user name="user2" password="2222" disabled="true" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>