<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!--<http pattern="/login" security="none"/>-->
    <!--<http pattern="/error*" security="none"/>-->
    <http access-denied-page="/error403" use-expressions="true" auto-config="true" >
        <intercept-url pattern="/" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/login" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/error403" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/resources/**" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/test/**" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER', 'ROLE_ADMIN')"/>

        <intercept-url pattern="/user/" access="hasAnyRole('ROLE_ANONYMOUS','ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/user/list" access="hasAnyRole('ROLE_ANONYMOUS','ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/user/add**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/user/edit/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/user/delete/**" access="hasAnyRole('ROLE_ADMIN')"/>

        <intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')" />

        <!--<form-login login-page="/login" default-target-url="/user/list" always-use-default-target="true" />-->
        <!--<form-login login-page="/login" authentication-success-handler-ref="authenticationSuccessHandler" />-->
        <form-login login-page="/login" authentication-success-handler-ref="authenticationSuccessHandler" authentication-failure-handler-ref="authenticationFailureHandler" />
        <logout logout-url="/logout" logout-success-url="/user/list"  />

        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS" />
        <remember-me />
<!--
        <session-management>
            <concurrency-control max-sessions="1"  />
        </session-management>
        <session-management invalid-session-url="/logout.html" />
-->
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="pass" authorities="ROLE_ADMIN,ROLE_USER" />
                <user name="user1" password="1111" authorities="ROLE_USER" />
                <user name="user2" password="2222" disabled="true" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <!--<beans:bean id="nullRequestCache" class="org.springframework.security.web.savedrequest.NullRequestCache"/>-->
    <beans:bean id="authenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <!--<beans:property name="targetUrlParameter" value="request" />-->
        <!--<beans:property name="requestCache" ref="nullRequestCache" />-->
        <!--<beans:property name="useReferer" value="true" />-->
    </beans:bean>
    <beans:bean id="authenticationFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <beans:property name="defaultFailureUrl" value="/login?error=true" />
    </beans:bean>

</beans:beans>