<html>
<head>
    <title>Simple Velocity page</title>
</head>
<body>
<h1>Simple Velocity page</h1>

<ul>
    #foreach($user in $users) <!-- Итерации по элементам списка -->
        <li>
            ${user.id}
            ${user.login}
            ${user.email}
            ${user.password}
        </li>
    #end
</ul>
</body>
</html>